html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
body {
    font-family: "Dosis", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    background-color: white;
}
  
h2, h3, h4 {
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}
  
a {
    text-decoration: none;
}
  
ul, li {
    list-style: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    line-height: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav_logo {
    font-size: 2rem;
    color: white;
    padding-left: 13%;
}
  
.nav_logo span {
    color: orange;
}
  
.nav_list {
    display: flex;
    align-items: center;
    padding-right: 13%;
}
  
.login {
    display: inline-block;
    font-size: 1.7rem;
    margin-right: 2rem;
    padding: 1.3rem 1.5rem;
    color: black;
    background-color: orange;
}
  
.cart_icon {
    position: relative;
    cursor: pointer;
    display: flex;
}
  
.cart_icon h2 {
    font-weight: 700;
    color: orange;
}

.shop_div{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shop_div .shop_card{
    width: 300px;
    height: 350px;
    border: solid 1px #a4ccff;
    border-radius: 5px;
    margin: 10px;
}
.shop-item-title{
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    padding: 15px;
}
.shop_div .shop_card img{
    width: 200px;
    height: 250px;
    padding-left: 50px;
}
.shop_div .shop_card:hover{
    cursor: pointer;
    box-shadow:0 20px 40px 0 rgba(0,0,0,.3);
}
.shop_div .shop_card .shop-item-details{
    color: #747474;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.6;
    padding: 1em;
    padding-top: 20px;
}
.shop_div .shop_card .shop-item-details a{
    float: right;
    text-decoration: none;
    color: orange;
    background-color: #EFEFEF;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 7px;
}
.shop_div .shop_card .shop-item-details a:hover{
    background-color: orange;
    color: white;
}

.popup {
    display: none;
}
.popup.active {
    overflow: auto;
    opacity:1;
    display: block;
    position: fixed;
    top: 15%;
    right: 10%;
    left: 10%;
    width:80%;
    height:80%;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
}
.popup .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    height: 30px;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.popup .close-btn {
    margin-top:15px;
}
.popup .close-btn button {
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}
.popup .close-btn button:hover {
    color:#111;
    background:#f5f5f5;
}